html
{
	scrollbar-base-color: #F2F2F2;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #10375D;
}

body
{
	background-color: #888A99;
	margin: 1px 1px 1px 1px;
	background: url("fond.jpg") fixed;

}
.t_style_a
{
	border: ridge 1px;
	border-bottom-color: #ebeded;
	border-left-color: #949595;
	border-right-color: #949595;
	border-top-color: #ebeded;
}

.t_style_b
{
	border: ridge 1px;
	border-bottom-color: #ebeded;
	border-left-color: #949595;
	border-right-color: #949595;
	border-top-color: #ebeded;
}

.main1
{
	color: #FFFFFF;
	background: #EEF0F2 url("cp_tblhead_bg.gif");
	padding: 7px;
}

.main1 a:link
{
	color: #fff;
	text-decoration: none;
}

.main1 a:visited
{
	color: #fff;
	text-decoration: none;
}

.main1 a:hover, .main1 a:active
{
	color: #fff;
	text-decoration: none;
}

.main2
{
	font-weight: bold;
	color: #fff;
	background: url("cp_colheader_bg.gif");
		padding: 7px;

}

.main2 a:link
{
color: #fff;
}

.main2 a:visited
{
color: #001F30;
}

.main2 a:hover, .main2 a:active
{
color: #001F30;
}

.pbb-menu
{
	width: 90%;
	margin-right:1px;
	padding-right:10px;
}
.headerbar
{
	background-image: url(cp_tblhead_bg.gif);
	width: 100%;
	height: 25px;
	margin-top:0px;
	font-family: Tahoma;
	color: #fff;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
}

.headerbar img
{
 float: left;
}
.pbb-menu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 0px;
}
.pbb-menu ul li
{
	padding: 0;
}
.pbb-menu ul li a
{
	display: block;
    border: 1px solid #fff;
	font-family: Tahoma;
	font-size: 9pt;
	padding-right: 1px;
	padding: 6px;
}
.pbb-menu ul li a:visited{}
.pbb-menu ul li a:hover
{
}
ul li span
{
	float: left;
}

.row1
{
	color: #fff;
	background: url("back.png");
}

.row2
{
	color: #fff;
	background: url("back.png");
}

.row3
{
	color: #fff;
	background: url("back.png");
}

.rows_space
{
	padding-top: 0.5%;
	padding-right: 1%;
	padding-bottom: 0.5%;
}

.address_bar
{
	background: #EEF0F2 url("cp_tblhead_bg.gif");
    border: 1px solid #fff;
    color: #fff;
	font: bold 15px Arial;
	padding-right: 10px;
	padding: 4px;
	width: 98%;
}

th,td
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #2E5961;
	border: 0px;
}

a:link,
a:visited,
a:active
{
	color: #fff;
	text-decoration: none;
}

a:hover
{
	background: transparent;
	color: #7FF1FB;
	text-decoration: none;
}

.small_text
{
	font-size: 11px;
}

textarea
{
	font-family: Tahoma;
	font-size: 8pt;
	color: #000000;
	background: #FFFFFF;
	border: solid 1px #adacac;
	scrollbar-base-color: #F2F2F2;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #FFFFFF;
}

input
{
	font-family: Tahoma;
	font-size: 8pt;
	color: #000000;
	background: #FFFFFF;
	border: solid 1px #adacac;
	scrollbar-base-color: #F2F2F2;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #FFFFFF;
}

input.radio {
        background: transparent;
        border: 0px;
}

input.checkbox {
        background: transparent;
        border: 0px;
}

.logo-cp {
	background-image: url('cp_logo.gif');
	background-repeat: repeat-y;
	width: 160px;
	height:66px;
	text-align: center;
}

select
{
	background: #FFF;
	border: 1px solid #4C77B6;
	color: #000;
	font: normal 11px Tahoma;
	margin: 5px;
	padding: 3px;
	vertical-align: middle;
		-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.button
{
	color: #fff;
	font-family: Tahoma;
	font-size: 12px;
 padding-left: 8px;
 padding-right: 8px;
 padding-top: 5px;
 padding-bottom: 5px;
 background: #4769A8;
	border:1px;
		border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	solid #D8D8D8;
	-webkit-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.3);
	box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.3);
	text-shadow:0px 1px 1px rgba(0,0,0,0.3);
}


.input_text
{
	font-family: Tahoma;
	font-size: 8pt;
	background-color: #637AAD;
	border: 1px solid #FFFFFF;
	color: #fff;
	border-width: 1px;
}


/* start Css Editor*/

.editoriframe {
     background: #ffffff;
     border: 1px solid #969EA2;
     color: #000000;
     font-family: Arial;
     font-size: 16px;
     font-weight: bold;
     width:540px;
     height:250px;
     display:none;
     padding: 2px;
     padding-right: 6px;
     padding-left: 6px;
}

.editortoolbar
{
	background-color: #F5F8F7;
	background-repeat: repeat-x;
	font: 11px tahoma;
	padding:0px;
	margin:0px;
	text-align: right;

}
.editoricon
{
	background-color: #F5F8F7;
	text-align: right;
	font: 11px tahoma;
	padding:0px;
	margin:0px;

}

.editorbutton,
.editortoolbar
{
	padding: 2px;
	 align:right;
}
.editoroover
{
	padding: 2px;
}
.editorselect
{
	color: #333333;
	background-color: #FAFAFA;
	font-family: Tahoma;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 1px;
}

.container
{
	width:100%;
	min-width:570px;
	background-color:#FFFFFF;
	border:1px solid #B5C4DD;
}

.toolbar
{
	 background-image:url('editor/toolbar_background.gif');
	 padding-left:0;
	 padding-right:0;
	 padding-top:4px;
	 padding-bottom:4px;
 }

.toolbar2
{
	background-image:url('editor/toolbar_background.gif');
	height:26px;
	padding:0;
}

.oover
{
	border:1px solid #316ac5;
	background:#f1f6f8;
	padding:1px;
}

#sddm
{
	margin:0;
	padding:0;
	z-index:30;
}

#sddm li
{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	font:bold 11px arial;
}

#sddm li img
{
	display:block;
	margin:0 1px 0 0;
	padding:1px 2px;
}

#sddm li a
{
	 display:block;
	 background-image:url('editor/custom.gif');
	 width:116px;
	 color:#989898;
	 text-align:center;
	 text-decoration:none;
	 margin-left:0;
	 margin-right:1px;
	 margin-top:0;
	 margin-bottom:0;
	 padding-left:10px;
	 padding-right:10px;
	 padding-top:3px;
	 padding-bottom:3px;
 }

#sddm div
{
	overflow:auto;
	width:160px;
	height:120px;
	-moz-opacity:.8;
	filter:alpha(opacity=80);
	opacity:.80;
	position:absolute;
	visibility:hidden;
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #eee;
}

#sddm div img
{
	width:120px;
}

#sddm div a
{
	position:relative;
	display:block;
	margin:0;
	padding:5px 10px;
	width:auto;
	white-space:nowrap;
	text-align:left;
	text-decoration:none;
	background:#FFF;
	color:#000;
}

#sddm div a:hover
{
	background:#eee;
	color:#545454;
	border:1px solid #7d7d7d;
}

.rteStart
{
	background-image:url('editor/start.gif');
	float:left;
	height:25px;
	width:7px;
	background:#FFF;
}

/* End css Editor*/

.pager
{

	background-color: #DBE2EC;
	color: #2E5961;
	font-family: Tahoma;
	font-size: 8pt;
	text-align: center;
	padding: 0px;
	border-width: 1px;
}

.redirect
{
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	background-color: #F0F4F7;
	font-family: Tahoma;
	color: #fff;
	font-size: 9pt;
}

.r-right
{
	float: right;
}

.l-left
{
	float: left;
}

.smallfont
{
	font: 11px Tahoma;
}

.tablerow1
{
	background-color:#F7FBFC;
	padding:6px;
	border-bottom:1px solid #C1BEBE;
	border-right:1px solid #C1BEBE;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
}
.textinput
{
	border: 1px solid #999999;
	color: #555;
	font-size: 11px;
	padding: 2px
}
#copyright
{
	color:#848484;
	text-align: center;
	text-shadow:0px 1px 0px #fff;
	padding: 1px 5px 4px 5px;
	margin: 5px 0 5px 9px;
 font: 12px Tahoma, Times New Roman;
}
#copyright a
{
	color:#848484;
}

.Button_secondary
{
	height: 22px;
	line-height: 22px;
	font: 11px Tahoma;
	padding: 0 10px;
	background: #f6f6f6;
	background:  -moz-linear-gradient(top, #f6f6f6 0%, #e5e5e5 100%);
	background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e5e5e5));
	border: 1px solid #dbdbdb;
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,1) inset, 0px 1px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,1) inset, 0px 1px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 0px rgba(255,255,255,1) inset, 0px 1px 0px rgba(0,0,0,0.3);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #616161;
	display: inline-block;
	white-space: nowrap;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;

}

.Button_secondary a
{
	color: #616161;
	background: #f6f6f6;
}

.Button_secondary: hover
{
	color: #4c4c4c;
	border-color: #9a9a9a;
}

.Button_redirect
{
	width:60%;
	margin-right: 110px;
}

#border_redirect
{
	width:60%;
	text-align: center;
	margin-right: 110px;
    margin-top: 150px;
}

#border_redirect .tcat
{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	padding:4px;
}

#border_msg
{
	width:60%;
	text-align: center;
	margin-right: 110px;
    margin-top: 70px;
}

#border_msg .tcat
{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	padding:4px;
}
/*---------------Mahde04---------*/

* {
box-sizing: border-box;
}



.login {
margin: 20px auto;
width: 500px;
}

.login-box{
padding: 20px;
border-radius: 5px
}

.login-title{
    text-align: center;
    color: #777
}

.login-logo{
    text-align: center;
}



.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

.login-field {
text-align: center;
border: 2px solid transparent;
border-radius: 50px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 300px;
transition: border .5s;
}

.login-field:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #808932;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 49px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #000;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}